/*
my colors:
background: f8f7f4
light brown (words):bd9479
dark brown(words on top): 5b4f47
a drop lighter brown:ddc1a7
beige-ish peach-ish other: faddc2

*/

/* general styles */
html {
    background-color: #f8f7f4;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Global Styles */
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    color:#5b4f47;
    text-align: center;
  }
  
  /* Header Styles */
  h1, h2, h3, h4, h5 {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-style: italic;
  }

h2 {
    font-size:medium;
    color: #ddc1a7;
    text-align: center;
}

a:visited, a:link {
    text-decoration: none;
    color:#5b4f47;
}

ul li {
  list-style-type: none;
}


/* logo styles */
#logo {
    text-align: center;
}

#logo img {
    height: 18em;
}

ol li {
  list-style-type: none;
}


/* menu styles */
 /* #menu {
    display: flex;
    margin:0;
    padding:0;
    align-items: center;
    justify-content: space-evenly;
    make all same height
}

#menu li {
    list-style-type: none;
    display:inline-flex;
    font-size: small;
    background-color:#f8f7f4;
} */

/* #menu a:link, #menu a:visited {
        padding: 0.5em;
        display: inline-flex;
}  */
/* 
#menu li:hover {
    background-color: #5b4f47;
}

#menu a:hover {
    color: #f8f7f4;
}
 */


/* table styles */
table {
    border-collapse: collapse;
    margin: 0 auto; 
    width: 70%;
    border: 1px solid #ccc;
}

thead tr {
    background-color: #bd9479;
}
  
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

tbody tr:nth-child(even) {
    background-color: #ddc1a7a6;
}

tbody tr:nth-child(odd) {
    background-color:#fff;
}


/* clothing catalog list */

#itemList {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap onto multiple lines */
    width: 100%; /* Ensure container fills available space horizontally */
    margin: 0 auto; /* Center the container horizontally */
  }
  
  #item {
    flex: 1 0 33.3333%; /* Each item takes 1/3 of available space, doesn't grow/shrink */
    margin: 5px; /* Add some spacing between items */
    text-align: center; /* Center content within each item */ /* Optional */
    padding: 10px; /* Optional: Add some padding for visual separation */
  }
  
  #item img {
    width: 300px;
    max-width: 100%; /* Ensure images scale proportionally within item */
    height: auto; /* Maintain image aspect ratio */
  }

/* form styles */
form {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 50%;
    max-width: 650px;
    margin-right: auto;
    margin-left: auto;
}

form fieldset {
    background-color: #ddc1a7;
    border: none;
    /* border:#5b4f47 solid .2px; */
    flex: 1 1 300px;
    font-size: 0.85em;
    padding: 25px;
    margin: 10px;
}

legend {
    font-size: small;
    font-style: italic;
    border-radius: 5px;
    background-color: #5b4f47;
    color:#f8f7f4;
    padding:.2em;
    text-align: left;
}

button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 1.2em;
    padding: 5px;
    margin: 15px 0 0 0;
    background-color: #5b4f47;
    color:#f8f7f4;
}



/* image slides styles */
.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    max-width: 700px;
    padding: 0;
    margin: auto;
    }
  
  .rslides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
    }
  
  .rslides li:first-child {
    position: relative;
    display: block;
    float: left;
    }
  
  .rslides img {
    display: block;
    height: auto;
    float: left;
    width: 100%;
    border: 0;
}

/* 
@media (max-width: 768px) {  
    nav {
        width: fit-content;
    }
    
    #menu {
      display: none;
    }

    .menu-toggle {
      display: block;
      padding: 10px;
      cursor: pointer;
    }
  
    .menu-toggle:checked ~ #menu {
      display: block;
      background-color: #fff;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
      z-index: 1;
    }
  
  }
  */
